.button-one {
  font-family: Arial;
}
@media (width >= 0) and (width <= 739px) {
  .button-one {
    color: pink;
  }
}
@media (width >= 740px) {
  .button-one {
    color: #00f;
  }
}
@media (width >= 0) and (width <= 739px) {
  .button-one {
    padding: 35px;
  }
}
@media (width >= 740px) and (width <= 1023px) {
  .button-one {
    padding: 40px;
  }
}
@media (width >= 1024px) and (width <= 1398px) {
  .button-one {
    padding: 50px;
  }
}
@media (width >= 1399px) and (width <= 1899px) {
  .button-one {
    padding: 50px;
  }
}
@media (width >= 1900px) {
  .button-one {
    padding: 70px;
  }
}
.button-two {
  font-family: Helvetica;
}
@media (width >= 0) and (width <= 739px) {
  .button-two {
    color: pink;
  }
}
@media (width >= 740px) {
  .button-two {
    color: #00f;
  }
}
@media (width >= 0) and (width <= 739px) {
  .button-two {
    padding: 35px;
  }
}
@media (width >= 740px) and (width <= 1023px) {
  .button-two {
    padding: 40px;
  }
}
@media (width >= 1024px) and (width <= 1398px) {
  .button-two {
    padding: 50px;
  }
}
@media (width >= 1399px) and (width <= 1899px) {
  .button-two {
    padding: 50px;
  }
}
@media (width >= 1900px) {
  .button-two {
    padding: 70px;
  }
}
