%wide-button {
  @responsive xs {
    color: pink;
  }
  @responsive >xs {
    color: blue;
  }
  @space padding md;
}

.button-one {
  font-family: Arial;
  @extend %wide-button;
}

.button-two {
  font-family: Helvetica;
  @extend %wide-button;
}

%pill {
  display: flex;
  padding: 0.6em 1em 0.6em 1em;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;

  border-radius: 40px;
  border: 1px solid currentColor;
  box-shadow: 0px 4px 20px 0px rgba(69, 69, 61, 0.04);

  color: currentColor;
  @font serif sm;

  @space letter-spacing 0.3px >=md;
  text-transform: uppercase;

  transition:
    color 250ms ease,
    background-color 250ms ease;

  &:hover {
    @color fg white;
    @color bg black;
  }
}

.pill-button {
  @extend %pill;
}
