ul {
  color: pink;
}
@media (width >= 0) and (width <= 1023px) {
  ul {
    justify-content: center;
    align-items: center;
  }
}
@media (width >= 1024px) {
  ul {
    flex-direction: row;
    width: 100%;
  }
  ul > li {
    color: #0000;
    white-space: nowrap;
    line-height: 1;
    display: inline-block;
  }
  ul > li.test {
    color: #00f;
  }
  ul > li:not(:last-of-type) {
    margin-right: 2vw;
  }
}
