@media (width >= 740px) and (width <= 1023px) {
  figure {
    flex: 0 0 calc(58.3333% - 14.5833px);
    max-width: calc(58.3333% - 14.5833px);
    position: relative;
  }
}
@media (width >= 1024px) {
  @media (width >= 1024px) and (width <= 1899px) {
    figure:first-of-type {
      margin-right: -50px;
      padding-top: 175px;
      padding-left: 75px;
    }
  }
  @media (width >= 1900px) {
    figure:first-of-type {
      margin-right: -60px;
      padding-top: 210px;
      padding-left: 90px;
    }
  }
  @media (width >= 1024px) and (width <= 1899px) {
    figure:last-of-type {
      margin-top: -100px;
      margin-left: -50px;
      margin-right: 50px;
      padding-right: 25px;
    }
  }
  @media (width >= 1900px) {
    figure:last-of-type {
      margin-top: -120px;
      margin-left: -60px;
      margin-right: 60px;
      padding-right: 30px;
    }
  }
  @media (width >= 1024px) and (width <= 1899px) {
    figure.center {
      margin-top: -100px;
      padding-left: 200px;
      padding-right: 200px;
    }
  }
  @media (width >= 1900px) {
    figure.center {
      margin-top: -120px;
      padding-left: 240px;
      padding-right: 240px;
    }
  }
}
@media (width >= 1024px) and (width <= 1398px) {
  figure {
    flex: 0 0 calc(58.3333% - 20.8333px);
    max-width: calc(58.3333% - 20.8333px);
    position: relative;
  }
}
